[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djongo = "*"
sqlparse = "==0.2.4"
djangorestframework-simplejwt = "*"
djangorestframework = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.9"
